%btn {
  display: inline-block;
  cursor: pointer;
}

.btn-login {
  @extend %btn;
  display: flex;
  padding: 12px 40px;
  margin: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1.7px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
}

.btn-login:hover {
  color: black;
  background-color: #ffffff;
}

.btn-order {
  @extend %btn;
  padding: 18px 33px;
  background-color: #ffc200;
  border-radius: 5px;
  font-weight: bold;
  color: black;
}

.btn-order:hover {
  background-color: #d6a606;
}
