* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.showcase {
  height: 600px;
}

.showcase nav {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  letter-spacing: 0.4px;
}

.showcase li {
  padding: 15px;
}

.showcase li .language-select {
  font-weight: bolder;
}

.showcase li a {
  margin: 0px 22px 10px 0;
}

.showcase a {
  color: #ffffff;
  font-size: small;
}

.showcase-logo {
  width: 12%;
}

.showcase-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase-content .input-card {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: unset;
}

.showcase-content h1 {
  font-size: 4.7vh;
  margin-top: 15vh;
}

.showcase-content p {
  color: #9b9b9b;
  margin-top: 10px;
}

.showcase-content input {
  margin-top: 5vh;
  padding: 20px 50px;
}

.showcase-content .example {
  margin-top: 10px;
  font-size: 12px;
}

.showcase-content img {
  position: absolute;
  right: 0;
  top: 0;
  width: 920px;
  height: 82vh;
  z-index: -10;
}

.shop-showcase {
  margin-top: 23vh;
}

.shop-showcase span {
  padding: 6px;
  color: #00bc8b;
  background-color: #d1eedd;
}

.shop-showcase-grid {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.shop-showcase-grid .shop-card {
  padding: 20px;
}

.shop-showcase-grid .shop-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-top: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-showcase-grid .shop-card-container .title {
  font-size: 1.6vh;
  font-weight: bolder;
}

.shop-showcase-grid .shop-card-container .price {
  font-size: 1.3vh;
  color: #453939;
}

.shop-showcase-grid .shop-card-container .description {
  font-size: 1.5vh;
  color: #9b9b9b;
}

.kitchen-showcase {
  margin-top: 8vh;
}

.kitchen-showcase-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kitchen-showcase-content img {
  width: 95vh;
  height: 65vh;
}

.kitchen-showcase-content .kitchen-showcase-container {
  width: 25vw;
}

.kitchen-showcase-content .kitchen-showcase-container h1 {
  font-size: 4vh;
}

.kitchen-showcase-content .kitchen-showcase-container p {
  color: #9b9b9b;
  font-size: 1.6vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.kitchen-showcase-content .kitchen-showcase-container span {
  font-size: 1.6vh;
  font-weight: bold;
}

.kitchen-showcase-content .kitchen-showcase-container div {
  color: #9b9b9b;
}

.kitchen-showcase-content .kitchen-showcase-container div a {
  color: #9b9b9b;
}

.kitchen-showcase-content .kitchen-showcase-container div a:hover {
  text-decoration: underline;
}

.new-stores-showcase {
  margin-top: 10vh;
  height: 300px;
}

.new-stores-showcase span {
  padding: 6px;
  color: #00bc8b;
  background-color: #d1eedd;
}

.new-stores-showcase .new-stores-content {
  margin-top: 4vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-stores-showcase .new-stores-content ul {
  list-style: none;
  line-height: 3vh;
  font-weight: 500;
  font-size: smaller;
}

.new-stores-showcase .new-stores-content a {
  cursor: pointer;
  color: #333333;
}

.new-stores-showcase .new-stores-content a:hover {
  text-decoration: underline;
}

.long-list-showcase {
  height: 160vh;
}

.long-list-showcase p {
  font-size: 14px;
  margin-bottom: 10px;
}

.long-list-showcase-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vh;
  color: #333333;
}

.long-list-showcase-grid ul {
  list-style: none;
  line-height: 2.3vh;
}

.long-list-showcase-grid a {
  color: #9b9b9b;
  text-decoration: none;
}

.long-list-showcase-grid a:hover {
  text-decoration: underline;
}

.long-list-showcase-city-grid {
  margin-top: 4vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vh;
  color: #333333;
}

.long-list-showcase-city-grid ul {
  list-style: none;
  line-height: 3.2vh;
}

.long-list-showcase-city-grid a {
  color: #333333;
}

.long-list-showcase-city-grid a:hover {
  text-decoration: underline;
}

.app-store {
  height: 50vh;
}

.app-store-card {
  margin-top: 4vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vh;
  color: #333333;
}

.app-store-card h1 {
  font-size: x-large;
}

.app-store-card p {
  margin-top: 10px;
  font-size: larger;
  color: #9b9b9b;
}

.app-store-card .download-app-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-store-card .download-app-btn img {
  margin-top: 2vh;
  margin-inline: 5px;
  cursor: pointer;
}

.footer {
  height: 320px;
}

.footer-logo {
  width: 12%;
}

.footer-content {
  margin-top: 4vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vh;
  color: #333333;
}

.footer-content-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer-content-links ul {
  list-style: none;
}

.footer-content-links ul a {
  font-size: 1.6vh;
  color: #333333;
}

.footer-content-links ul a:hover {
  text-decoration: underline;
}

.footer-divider {
  border-top: 1px solid #ebebeb;
  margin: 20px;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
  font-size: 12px;
  color: #464c4c;
}

.footer-social {
  width: 8vw;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #9b9b9b;
  cursor: pointer;
}

.footer-social i:hover {
  color: gray;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.btn-login, .btn-order {
  display: inline-block;
  cursor: pointer;
}

.btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 40px;
  margin: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1.7px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
}

.btn-login:hover {
  color: black;
  background-color: #ffffff;
}

.btn-order {
  padding: 18px 33px;
  background-color: #ffc200;
  border-radius: 5px;
  font-weight: bold;
  color: black;
}

.btn-order:hover {
  background-color: #d6a606;
}
/*# sourceMappingURL=style.css.map */